<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />

    <title>Home Page</title>
</head>
<body>
<video
        controls
        class="video-js"
        width="720"
        id="my-video"
        data-setup="{}"
>
    <source src="assets/videos/video.mp4" type="video/mp4">
</video>

<script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>